body {
  font-family: Arial, sans-serif;
  background-color: #f4fbf4;
  background-image: url('svamp.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#login-container,
#welcome-container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  text-align: center;
  max-width: 350px;
}

h1 {
  color: #2e7d32;
}

#logo-image {
  width: 150px;
  border-radius: 8px;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #388e3c;
}

#felmeddelande {
  color: #c62828;
  font-weight: bold;
}